.channel-form-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-form-container {
  margin: 0 auto;
  margin-top: -25%;
  width: 450px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
}

.channel-form-header {
  font-size: 20px;
  padding: 0 20px;
  line-height: 60px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.channel-form {
  padding: 20px;
}

.channel-form-fields {
  display: flex;
  align-items: center;
}

.channel-form-fields > i {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  font-size: 32px;
  text-align: center;
  line-height: 32px; 
  padding: 16px;
  color: white;
  background-color: rgb(22, 122, 198);
  margin-right: 10px;
}

.channel-form-fields div:first-child {
  margin-bottom: 8px;
}

.channel-form-input-container {
  display: flex;
  width: 250px;
}

.channel-form-input {
  border: 1px solid rgb(226, 226, 226);
  flex-grow: 1;
  resize: none;
  padding: 5px 10px;
  font-size: 13px;
}

.channel-form-buttons {
  background-color: rgb(241, 241, 241);
  margin: 20px -20px -20px -20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px;
}

.channel-form-buttons .form-submit,
.channel-form-buttons .form-cancel {
  margin-top: 0px;
  font-size: 13px;
  line-height: 24px;
  min-width: 75px;
  margin-left: 10px;
}

.channel-form-buttons .form-cancel {
  background-color: rgb(250, 250, 250);
}
