.comment-container {
  margin-bottom: 16px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.comment-left-items {
  display: flex;
}

.comment-heading {
  display: flex;
  margin-bottom: 2px;
}

.comment-username {
  margin-right: 4px;
  font-weight: 500;
  color: rgb(10, 10, 10);
}

.comment-uploader {
  background-color: rgb(136, 136, 136);
  border-radius: 12px;
  color: white;
  padding: 0 6px;
  margin-bottom: 2px;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.comment-date {
  color: rgb(96, 96, 96);
}

.comment-body {
  font-size: 14px;
  color: rgb(17, 17, 17);
  line-height: 20px;
}

.comment-delete-btn {
  display: none;
  text-transform: uppercase;
  align-self: center;
  justify-self: flex-end;
  color: rgb(6, 95, 212);
}

.comment-container:hover .comment-delete-btn {
  display: inline-block;
}
