.search-results { 
  padding: 0 24px;
  width: 100%;
  max-width: 1285px;
  padding-top: 1px;
}

.search-results-header {
  padding-top: 16px;
  padding-bottom: 6px;
  font-size: 14px;
  color: rgb(96, 96, 96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 24px;
}

.query-string {
  font-weight: 700;
}

.search-result {
  margin-top: 16px;
  display: flex;
  width: 860px;
}

.search-result-thumb {
  max-width: 246px;
  max-height: 138px;
  margin-right: 16px;
}

.search-result-content {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.search-result-title {
  font-size: 18px;
  line-height: 24px;
  max-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.search-result-details,
.search-result-description {
  display: flex;
  color: rgb(96, 96, 96);
  font-size: 13px;
  line-height: 18px;
}

.search-result-description {
  padding-top: 8px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.search-result-uploader {
  margin-right: 4px;
}

.search-result-views {
  margin: 0 4px;
}

.search-result-date {
  margin-left: 4px;
}
