.video-upload-form-container {
  background-color: rgb(241, 241, 241);
  height: 100vh;
  flex-grow: 1;
  padding-top: 15px;
}

.video-upload-form {
  width: 743px;
  margin: auto;
  padding: 15px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  align-items: center;
}

.video-file-container {
  margin-top: 65px;
}

#video {
  border: 1px solid #eee;
  background: #ddd;
}

.video-upload-form-icon {
  font-size: 120px;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-upload-form-icon:hover {
  cursor: pointer;
  color: #f7941c;
}

.video-upload-form-icon-text {
  font-size: 20px;
  color: #444;
  margin-top: 15px;
  margin-bottom: 9px;
}

.video-upload-form-file-input {
  display: none;
}

.video-upload-form-details-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 13px;
  margin-top: 15px;
}

.video-upload-form-details-header {
  font-size: 18px;
  color: #444;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding-bottom: 2px;
  padding-left: 2px;
}

.video-upload-form-input {
  margin-top: 15px;
  padding: 5px 10px 6px 10px;
  border: 1px solid rgb(211, 211, 211);
}

.video-upload-form-description {
  margin-top: 15px;
  padding: 5px 10px 6px 10px;
  border: 1px solid rgb(211, 211, 211);
  height: 84px;
}

.video-upload-buttons {
  display: flex;
}

.video-edit-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
