.video-overlay { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-background {
  padding: 40px;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  z-index: 5000;
}

.overlay-heading,
.overlay-video-title,
.overlay-channel-name,
.overlay-countdown,
.overlay-cancel {
  color: white;
  margin-top: 24px;
  font-size: 18px;
  z-index: 6000;
}

.overlay-video-title {
  font-size: 30px;
  overflow-wrap: break-word;
  max-width: 80%;
  text-align: center;
}

.overlay-channel-name {
  margin-top: 12px;
  font-size: 14px;
}

.overlay-countdown {
	position: relative;
}

.overlay-next {
  position: absolute;
	height: 92px;
	width: 92px;
	left: 4px;
	top: 28px;
	display: flex;
	justify-content: center;
	font-size: 30px;
	background: rgba(245, 245, 245, 0.3);
	border-radius: 50%;
}

.overlay-cancel {
  padding: 6px 10px;
  border-radius: 2px;
}

.overlay-cancel:hover {
  background: rgba(245, 245, 245, 0.5);
}
