.video-show-container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 24px;
  width: 75%;
  height: 100%;
}

#video-content {
  width: 100%;
  max-height: 755px;
}

#video-content[poster] {
  object-fit: fill;
}

.video-details-container {
  padding-top: 20px;
}

.video-show-info-container {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
}

.video-details-primary-info {
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.video-details-secondary-info {
  display: flex;
}

.video-details-icon {
  margin-top: 16px;
}

.video-details-views-likes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-details-upload-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-details-upload-info {
  padding-top: 16px;
  margin-bottom: 12px;
  position: relative;
}

.video-details-title {
  font-size: 18px;
  line-height: 24px;
}

.video-details-views {
  color: #606060;
  font-size: 16px;
  line-height: 40px;
}

.video-details-uploader {
  font-size: 14px;
  font-weight: 500;
}

.video-details-publish-date {
  font-size: 13px;
  color: rgba(17, 17, 17, 0.6);
}

.video-details-description {
  font-size: 14px;
}

.video-show-edit-btn {
  padding: 10px 16px;
  text-transform: uppercase;
  margin-left: 8px;
  text-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 0px;
  background-color: #075ed3;
  color: white;
  transition: 0.28s;
}
