.video-index {
  width: 1285px;
  margin: auto;
  height: 100vh;
}

.video-list-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-title {
  font-size: 16px;
  font-weight: 500;
  padding-top: 24px;
}

.video-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.video-list-item {
  width: 210px;
  margin-right: 4px;
  margin-bottom: 24px;
}

.list-item-thumbnail {
  object-fit: cover;
  width: inherit;
  height: 117.5px;
}

.list-item-details {
  padding-right: 24px;
  width: inherit;
  color: rgb(96, 96, 96);
  font-size: 13px;
  line-height: 18px;
}

.list-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 8px 0;
  padding: inherit;
  width: inherit; 
  font-size: 14px;
  font-weight: 500;
  color: black;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-views-date {
  display: flex;
  flex-direction: row;
}

.list-item-views {
  margin-right: 4px;
}

.list-item-date {
  margin-left: 4px;
}
